<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2019 IMT Mines Alès
  
  This program and the accompanying materials are made
  available under the terms of the Eclipse Public License 2.0
  which is available at https://www.eclipse.org/legal/epl-2.0/
  
  SPDX-License-Identifier: EPL-2.0
-->
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">%highlight{%d{yyyy-MM-dd :: HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}{STYLE=DEFAULT, noConsoleNoAnsi=false}
		</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger
			name="fr.imt.ales.redoc.xml.merge.spring.SpringConfigMerger"
			level="info" />
		<Logger
			name="fr.imt.ales.redoc.xml.merge.spring.SpringConfigWriter"
			level="info" />
		<Logger
			name="fr.imt.ales.redoc.xml.merge.spring.structure.ClassPath"
			level="debug" />
		<Logger
			name="fr.imt.ales.redoc.xml.merge.spring.structure.XMLFile"
			level="info" />
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
